$primary-normal: #06121E;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secundary-normal: #090d11;
$secundary-dark: #06090c;
$secundary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffffff;
$white-dark: #EDEAEF;
$white-light: #fefbff;

$red-normal: #d99940;
$red-dark: #d99940;
$red-light: #d99940;